
/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
  
    font-family: 'Poppins', sans-serif;

}
/***************header css style */
.header li{
    list-style-type: none;
    margin: 40px 80px;
    font-size: 40px;
  
    padding: 20px 30px;
}
.top-banner-item{
    display: flex;
}
.heading{
    width: 60%;
}
.heading h1{
    margin: 40px 80px;
    font-size: 30px;
 padding: 20px 30px;
    font-size: 85px;
    color: rgb(31, 27, 27);
}
.top-banner p{
    padding: 4px 10px;
    margin: 0px 115px;
    font-size: 30px;
}
.top-banner .btn{
    padding: 25px 80px;
    border: 0;
    background: rgb(153, 43, 43);
    font-weight: bold;
    color:white;
    font-size: 20px;
    border-radius: 50px;
    margin: 10px 115px;

}
.top-banner-img img{
     padding: 24px;
    /* margin: 40px 90px; */
    height: 600px;
    width: 500px;

}
/*******************collection part style */
.popular-collection h1{
    text-align: center;
    font-size: 50px;
 margin-top: 150px;
 margin-bottom: 35px;
 color: rgb(49, 47, 47);
}
.container{
    width: 975px;
    height: 1686px;
 
}

.card-area{
   
     padding: 20px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-left: 450px;
}
.card{
    background-color:white;
    border-radius: 10px;
    padding: 4px;
    width: 306.38px;
    height: 479px;
  
    box-shadow: 10px 10px 40px gray;

}

.card-describtion{
    padding: 15px;
}
.card-describtion h2{
    font-size: 28px;

}
.card-describtion h3{
    font-size: 20px;
    color: rgb(32, 29, 29);
    
}
.star-area{
    display: flex;
}
.star .fa-star{
    color: goldenrod;
}
.star .fa-star-half-alt{
    color: goldenrod;  
}
.point p{
    margin-left: 20px;
    color: grey;
}
.card-describtion p{
    color: rgb(87, 84, 84);
}
.see-more{
    margin-right: 550px;
}
.see-more p{
  float: right;
    color: grey;
padding: 5px;
    font-size: 20px;
    }


/*********************footer part */
.footer{
    text-align: center;
    padding: 40px;
    background-color:  rgb(18, 6, 59);
   color: honeydew;
}
.footer h3{
    font-size: 25px;
    color: rgb(167, 216, 211);
}
.footer-icon{
    padding: 20px;
}
.footer-icon  .fa-instagram-square{
  padding: 10px;
  background-color: grey;
  border-radius: 40px;
}
.footer-icon  .fa-dribbble{
  padding: 10px;
  background-color: grey;
  border-radius: 40px;
}
.footer-icon  .fa-twitter{
  padding: 10px;
  background-color: grey;
  border-radius: 40px;
}
.footer-icon  .fa-youtube{
  padding: 10px;
  background-color: grey;
  border-radius: 40px;
}
