/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
  
    font-family: 'Poppins', sans-serif;

}
/***************header css style */
.header li{
    list-style-type: none;
    margin: 40px 80px;
    font-size: 40px;
  
    padding: 20px 30px;
}
.top-banner-item{
    display: flex;
}
.heading{
    width: 60%;
}
.heading h1{
    margin: 40px 80px;
    font-size: 30px;
 padding: 20px 30px;
    font-size: 85px;
    color: rgb(31, 27, 27);
}
.top-banner p{
    padding: 4px 10px;
    margin: 0px 115px;
    font-size: 30px;
}
.top-banner .btn{
    padding: 25px 80px;
    border: 0;
    background: rgb(153, 43, 43);
    font-weight: bold;
    color:white;
    font-size: 20px;
    border-radius: 50px;
    margin: 10px 115px;

}
.top-banner-img img{
     padding: 24px;
    /* margin: 40px 90px; */
    height: 600px;
    width: 500px;

}
/*******************collection part style */
.popular-collection h1{
    text-align: center;
    font-size: 50px;
 margin-top: 150px;
 margin-bottom: 5px;
 color: rgb(49, 47, 47);
}
.card-describtion{
    padding: 10px;
}
