/* font-family: 'Poppins', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
/***************header css style */
.header li{
    list-style-type: none;
    margin: 40px 80px;
    font-size: 40px;
    padding: 20px 30px;
}
.top-banner{
display: flex;
}
.top-banner-item{
    width: 50%;
}
.heading h1{
    margin: 40px 80px;
    font-size: 30pxpx;
    padding: 40px 45px;
    font-size: 85px;
    color: rgb(31, 27, 27);
}
.top-banner p{
    padding: 4px 10px;
    margin: 0px 115px;
    font-size: 30px;
}
.top-banner .btn{
    padding: 25px 80px;
    border: 0;
    background: rgb(175, 79, 79);
    font-weight: bold;
    color: wheat;
    cursor: pointer;
    border-radius: 50px;
    margin: 10px 115px;

}
.top-banner-img img{
     padding: 24px;
    /* margin: 40px 90px; */
    height: 600px;
    width: 500px;

}
